  <div class='merge_articles'>
    <h4><%= _("Merge Articles") %></h4>
    <% form_tag(form_action, :id =>"merge_form") do %>
      Article ID
      <%= number_field_tag(:merge_target_id) %><br/>
      <%= submit_tag 'Merge' %>
    <% end %>
  </div>

